doctype html
html(lang='en')
  head
    script(src='javascripts/editor.js')
    script(src='https://cdn.jsdelivr.net/npm/@editorjs/header@latest')
  body
    #editorjs
    button test
    script(src='javascripts/note.js')
